<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" href="{{ site.feed.path }}" type="application/atom+xml" title="{{ site.title }}">
    <link rel="icon" href="/images/avatar.jpg" type="image/jpg">
    <title>{{ title | metatitle(site.title) }}</title>
    <meta name="description" content="{{ description or site.description }}">
    {% if socialImage %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:title" content="{{ title }}">
      <meta name="twitter:image" content="{{ socialImage | absoluteUrl(site.url) }}">
      <meta name="twitter:image:alt" content="{{ socialImageAlt }}">
    {% endif %}
    <!--[if !IE]> -->
      {% set css %}{% include "css/critical.css" %}{% endset %}
      <style>{{ css | safe }}</style>
    <!-- <![endif]-->
  </head>
  <body>
    <div class="o-wrapper">
      <div>
        {% include "components/site-head.njk" %}
        <div>
          <main>{{ content | safe }}</main>
          {% include "components/site-foot.njk" %}
        </div>
      </div>
    </div>
  </body>
</html>
