---
layout: layouts/base.njk
---
<article class="c-post">
  <header>
    <h1 class="c-post__title">{{ title }}</h1>
    <time class="c-post__date" datetime="{{ date | formatdate('yyyy-LL-dd') }}">
      {{ date | formatdate }}
    </time>
  </header>
  {{ content | safe }}
</article>
