<header class="c-banner">
  <a class="c-banner__link" href="/">
    <h1 class="c-banner__title">
      steven<b class="c-banner__surname">har</b><span class="c-banner__dot">.</span><b class="c-banner__surname">land</b>
    </h1>
  </a>
  <h2 class="c-banner__subtitle">👑 🐇 🕳️</h2>
</header>
