<nav class="c-nav">
  <h2 class="u-visually-hidden">Navigation</h2>
  <ul class="c-nav__list">
    {% if page.url != '/' %}
      <li class="c-nav__list-item">
        <a class="c-nav__link" href="/">←Home</a>
      </li>
    {% endif %}
    <li class="c-nav__list-item">
      <a class="c-nav__link" href="{{ metadata.feed.path }}">
        <i aria-hidden="true" class="c-nav__icon c-icon c-icon--feed" title="Subscribe"></i>
        <span class="u-visually-hidden">Subscribe</span>
      </a>
    </li>
  </ul>
</nav>
