{% macro postList(posts) %}
  <ul class="c-post-list">
    {% for post in posts %}
      <li>
        <article class="c-post">
          <h3>
            <a href="{{ post.url }}" rel="bookmark">
              {{ post.data.title }}
            </a>
          </h3>
          {% if 'long' in post.data.tags %}
            <p>{{ post.data.description }}</p>
          {% else %}
            {{ post.templateContent | safe }}
          {% endif %}
        </article>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
