<header class="c-site-head">
  <a class="c-site-head__link" href="/">
    <h1 class="c-site-head__title">
      steven<span class="c-site-head__surname">har</span>.<span class="c-site-head__surname">land</span>
    </h1>
    <!-- "King of the Rabbit Hole" — Neil Harland -->
    <h2 class="site-head__subtitle">👑 🐇 🕳️</h2>
  </a>
</header>
