<h2 class="u-visually-hidden">Social</h2>
<ul class="c-social">
  <li class="c-social__list-item">
    <a class="c-social__link" href="https://github.com/stvnhrlnd">
      <i aria-hidden="true" class="c-icon c-icon--github" title="GitHub"></i>
      <span class="u-visually-hidden">GitHub</span>
    </a>
  </li>
  <li class="c-social__list-item">
    <a class="c-social__link" href="https://www.facebook.com/stevenharland">
      <i aria-hidden="true" class="c-icon c-icon--facebook" title="Facebook"></i>
      <span class="u-visually-hidden">Facebook</span>
    </a>
  </li>
  <li class="c-social__list-item">
    <a class="c-social__link" href="https://www.instagram.com/stvnhrlnd">
      <i aria-hidden="true" class="c-icon c-icon--instagram" title="Instagram"></i>
      <span class="u-visually-hidden">Instagram</span>
    </a>
  </li>
  <li class="c-social__list-item">
    <a class="c-social__link" href="https://www.linkedin.com/in/stevenharland">
      <i aria-hidden="true" class="c-icon c-icon--linkedin" title="LinkedIn"></i>
      <span class="u-visually-hidden">LinkedIn</span>
    </a>
  </li>
  <li class="c-social__list-item">
    <a class="c-social__link" href="https://twitter.com/stvnhrlnd">
      <i aria-hidden="true" class="c-icon c-icon--twitter" title="Twitter"></i>
      <span class="u-visually-hidden">Twitter</span>
    </a>
  </li>
</ul>
