.c-icon {
  font-family: 'IcoMoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}

.c-icon--feed:before {
  content: '\ea9b';
}

.c-icon--github:before {
  content: '\eab0';
}
.c-icon--linkedin:before {
  content: '\eac9';
}

.c-icon--twitter:before {
  content: '\ea96';
}
