@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
    url(/fonts/roboto-slab/roboto-slab-v8-latin-regular.woff2) format("woff2"),
    url(/fonts/roboto-slab/roboto-slab-v8-latin-regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Ruda";
  font-style: normal;
  font-weight: 400;
  src: local("Ruda Regular"), local("Ruda-Regular"),
    url(/fonts/ruda/ruda-v10-latin-regular.woff2) format("woff2"),
    url(/fonts/ruda/ruda-v10-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "IcoMoon";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/icomoon/icomoon.woff) format("woff");
}

:root {
  --font-sans: "Ruda", Arial, sans-serif;
  --font-serif: "Roboto Slab", Georgia, serif;
}
