:root {
  --colour-blue-chill: hsl(190, 81%, 31%);
  --colour-heavy-metal: hsl(70, 8%, 15%);
  --colour-pear: hsl(80, 76%, 53%);
  --colour-pale-sky: hsl(210, 13%, 45%);
  --colour-regent-grey: hsl(210, 13%, 57%);
  --colour-spring-wood: hsl(60, 30%, 96%);
  --colour-tree-poppy: hsl(32, 98%, 56%);
}
