---
layout: layouts/base.njk
permalink: 404.html
title: Page Not Found
---
<article class="c-post">
  <h1>404 ☠️</h1>

  <p>You appear to be lost. If you think this is a mistake, please <a href="mailto:webmaster@stevenhar.land">let me know</a>.</p>

  <p>In the meantime, here's a <em>map</em> to help you find your way:</p>

  <img src="/images/map.jpg" alt="Map to Big Whoop from Monkey Island 2" usemap="#map">

  <map name="map">
    <area href="/" alt="Back to Home" title="Back to Home" coords="400,85,35" shape="circle">
  </map>

  <p>X marks the spot!</p>
</article>
