---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ site.url }}</id>
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <author>
    <name>{{ site.feed.author.name }}</name>
    <email>{{ site.feed.author.email }}</email>
  </author>
  <link rel="self" href="{{ site.feed.path | absoluteUrl(site.url) }}"/>
  <link href="{{ site.url }}"/>
  {%- for post in collections.post | reverse | limit(10) -%}
    {% set absolutePostUrl %}{{ post.url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <id>{{ absolutePostUrl }}</id>
      <title>{{ post.data.title }}</title>
      <updated>{{ post.date | rssDate }}</updated>
      <content type="html"><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content>
      <link href="{{ absolutePostUrl }}"/>
      {% if post.data.description %}
        <summary><![CDATA[{{ post.data.description | safe }}]]></summary>
      {% else %}
        <summary><![CDATA[{{ post.inputPath | preview(absolutePostUrl) | safe }}]]></summary>
      {% endif %}
    </entry>
  {%- endfor -%}
</feed>
